@media (hover: hover) {
  .hb2:hover {
    background-color: var(--b2);
  }

  .hb3:hover {
    background-color: var(--b3);
  }

  .ht1:hover {
    background-color: var(--t1h);
  }

  .a1:hover {
    color: var(--a5h);
  }
}