@media screen and (min-width:1024px) {
  .d2 {
    display: flex;
    flex-direction: row-reverse;
  }

  .d2a {
    padding-right: 32px;
    padding-bottom: 128px;
    padding-left: 32px;
    background-color: var(--b2);
    width: calc(100% - 304px);
  }

  .d2b {
    width: 240px;
  }

  .d2a1 {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--b1);
    padding: 48px;
    border-radius: 6px;
  }

  .d2b1 {
    position: sticky;
    top: 49px;
    left: 0;
  }

  .d2b1b {
    padding-left: 16px;
    padding-right: 16px;
  }
}