@media (prefers-color-scheme: light) {
  .t1 {
    color-scheme: light;

    --a1: #000;
    --a2: #333;
    --a3: #666;
    --a4: #999;
    --a5: #0064dc;
    --a6: #e00b00;
    --a7: #ff0000;

    --b1: #fff;
    --b2: #f2f2f7;
    --b3: #e5e5ea;
    --b4: #d1d1d6;
    --b6: #aeaeb2;

    --t1: #f8ca8e;
  }
}