@media screen and (max-width:479px) {
  .c25a1a {
    font-size: .9rem;
    column-gap: 8px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .c25c1 {}

  .c25b1a {
    font-size: .9rem;
  }

  .c25e1a {
    line-height: 1;
    display: grid;
    align-items: center;
    font-size: .9rem;
    grid-template-rows: 24px 16px;
    align-items: end;
    height: 50px;
  }

}