.c25w {
  row-gap: 8px;
}

/* tab */
.c25e {
  display: grid;
  list-style-type: none;
  margin: unset;
  padding: unset;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid var(--b2);
  column-gap: 2px;
}

.c25e1a {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 6px 6px 0 0;
}

.c25e1a1 {
  font-weight: 400;
  margin-left: 8px;
  color: var(--a3);
  font-size: .9em;
}

/* count */
.c25d {
  text-align: center;
  line-height: 1;
}

.c25d1 {
  font-weight: 700;
  margin-right: 4px;
}

/* clear */
.c25c1 {
  height: 40px;
  line-height: 1;
  display: flex;
  align-items: center;
  border-radius: 6px;
  column-gap: 8px;
  width: fit-content;
  font-size: .9rem;
}

/* filter */
.c25a {
  list-style-type: none;
  margin: unset;
  padding: unset;
  column-gap: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.c25a1a {
  display: flex;
  align-items: center;
  line-height: 1;
  height: 40px;
  background-color: var(--b2);
  border-radius: 6px;
  justify-content: center;
}

.c25a1a1 {}

/* sort */
.c25b {
  list-style-type: none;
  margin: 0 0 0 auto;
  padding: unset;
  display: flex;
}

.c25b1 {}

.c25b1a {
  background-color: var(--b2);
  height: 40px;
  line-height: 40px;
}

.c25b1b {
  border-radius: 6px 0 0 6px;
}

.c25b1c {
  border-radius: 0 6px 6px 0;
}

.c25b1s {
  background-color: var(--a2);
  color: var(--c25a);
  pointer-events: none;
}

.c25a1a1s {
  font-weight: 700;
  color: var(--a7);
  pointer-events: none;
}

.c25e1d {
  opacity: .4;
  pointer-events: none;
}

.c25e1s {
  background-color: var(--b2);
  font-weight: 700;
  pointer-events: none;
  color: var(--a7);
}

/* list */
.c25f {
  margin-top: 24px;
  margin-bottom: 48px;
}

.c25g {
  margin-bottom: 24px;
}

/* pager */
.c25h {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.c25h1 {
  color: var(--a3);
  display: flex;
  column-gap: 8px;
  justify-content: center;
}

.c25h2 {
  text-align: center;
}

.c25h2a {
  margin-right: 8px;
  font-weight: 700;
  font-size: 1.618rem;
}