@media (prefers-color-scheme: light) {
  .t1 {
    color-scheme: light;

    --a1: #000;
    --a2: #333;
    --a3: #666;
    --a4: #999;
    --a5: #0064dc;
    --a6: #e00b00;
    --a7: #ff0000;

    --b1: #fff;
    --b2: #f2f2f7;
    --b3: #e5e5ea;
    --b4: #d1d1d6;
    --b6: #aeaeb2;

    --t1: #f8ca8e;
  }
}

@media (hover: hover) and (prefers-color-scheme: light) {
  .t1 {
    --a5h: #0576ff;

    --t1h: #fadbb2;
  }
}

@media (prefers-color-scheme: dark) {
  .t2 {
    color-scheme: dark;

    --a1: #fff;
    --a2: #eee;
    --a3: #bbb;
    --a4: #999;
    --a5: #93c5fd;
    --a6: #ff6961;
    --a7: #fce96a;

    --b1: #1c1c1e;
    --b2: #2c2c2e;
    --b3: #3a3a3c;
    --b4: #48484a;
    --b6: #636366;

    --t1: #156bf4;
  }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
  .t2 {
    --a5h: #69aefc;

    --t1h: #0a58d6;
  }
}