.a1 {
  color: var(--a5);
}

.a2 {
  color: var(--a2);
  display: block;
  text-decoration: none;
  cursor: pointer;
}

/* button interface */
.a3 {
  display: block;
  border: unset;
  padding: unset;
  margin: unset;
  border-radius: 6px;
  text-align: center;
  font-size: 1rem;
  color: var(--a1);
  user-select: none;
  text-decoration: none;
  cursor: pointer;
}

/* t1 color */
.ht1 {
  background-color: var(--t1);
}